
.image-parent {
  max-width: 40px;
}
.dist {
  margin-left: 50px;

}
.reviewo {
  margin-top: 20px;
  padding: 20px;
  margin-left: 20%;
  /* border-bottom: 0.5px solid black   ; */
  box-sizing: border-box;



}
