.review-form-bg{
    background-color: black;
}
#navbar-nav {
    width: 100%;
}

@media(min-width:568px) {
    .review-end {
        margin-left: auto
    }
}

@media(max-width:768px) {
    #post {
        width: 100%
    }
}

#clicked {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px
}

#profile {
    background-color: unset
}

#post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: #ecb21f;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%
}



#nav-items li a,
#profile {
    text-decoration: none;
    color: rgb(124, 38, 38);
    background-color: black
}

.revw-comments {
    margin-top: 5%;
    margin-left: 20px
}

.revw-darker {
    border: 1px solid #ecb21f;
    background-color: black;
    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.revw-comment {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973);
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.revw-comment h4,
.revw-comment span,
.revw-darker h4,
.revw-darker span {
    display: inline
}

.revw-comment p,
.revw-comment span,
.revw-darker p,
.revw-darker span {
    color: rgb(218, 209, 209)
}

h1.revw-h1,
h4.revw-h4 {
    color: red;
    font-weight: bold
}

label.revw-label {
    color: rgb(218, 32, 32)
}

#align-form {
    margin-top: 20px
}

.revw-form-group p a {
    color: rgb(180, 37, 37)
}

#checkbx {
    background-color: black
}

#revw-darker img {
    margin-right: 15px;
    position: static
}

.revw-form-group input,
.revw-form-group textarea {
    background-color: black;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px
}

form#align-form {
    /* border: 1px solid rgba(16, 46, 46, 1);
    background-color: rgba(16, 46, 46, 0.973); */
    border-radius: 5px;
    padding: 20px
}
.revw_anchor{
    color :red;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
/* Zero stars rating */
.rate > label:last-child:before {
    content: "\f006 "; /* empty star outline */
}
/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
.rate > input:checked ~ label, /* color current and previous stars on checked */
.rate > label:hover, label:hover ~ label { color: #73B100;  } /* color previous stars on hover */

/* Hover highlights */
.rate> input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
.rate> input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
.rate> label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #A6E72D;  } 
